body {
    background-color: var(--body-background);
}

.weather__container {
    position: relative;
    height: 105px;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    background-color: var(--weather-container-background);
    transition: 0.6s ease-in-out;
}

.search__box {
    width: 100%;
    height: min-content;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.enter__location {
    color: var(--input-search);
    width: 80%;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    text-align: center;
}

.search__box ::placeholder {
    font-size: 15px;
    font-weight: 500;
    color: var(--input-search);
    text-transform: capitalize;
}

.search__box button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: var(--search-box-btn);
    background-color: var(--search-box-background);
    border-radius: 50%;
    font-size: 14px;
    transition: 0.4s ease;
    border: none;
}

.search__box button:hover {
    color: var(--weather-container-background);
    background: var(--body-background);
}

.search__box i{
    position: absolute;
    color: var(--search-box-btn);
    font-size: 28px;
    padding: 8px 0 0 5px;
}

.weather__box {
    text-align: center;
}

.weather__box img{
    width: 60%;
    margin-top: 30px;
}

.temperature {
    position: relative;
    color: var(--search-box-btn);
    font-size: 44px;
    font-weight: 800;
    margin-top: 30px;
}

.temperature span {
    position: absolute;
    margin-left: 4px;
    font-size: 15px;
}

.description {
    color: var(--search-box-btn);
    font-weight: 500;
    font-size: 22px;
    text-transform: capitalize;
}

.weather__details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.humidity, .wind {
    display: flex;
    align-items: center;
    width: 50%;
    height: 50px;
}

.humidity {
    padding-left: 20px;
    justify-content: flex-start;
}

.wind {
    padding-right: 20px;
    justify-content: flex-end;
}

.weather__details i {
    color: var(--search-box-btn);
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather__details span {
    color: var(--search-box-btn);
    font-size: 22px;
    font-weight: 500;
}

.weather__details p {
    color: var(--search-box-btn);
    font-size: 13px;
    font-weight: 500;
}

.not__found {
    width: 100%;
    text-align: center;
    /* margin-top: 50px; */
    opacity: 0;
    display: none;
}

.not__found img {
    width: 70%;
}

.not__found p {
    color: var(--search-box-btn);
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather__box, .weather__details {
    opacity: 0;
}

.fadeIn {
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}